<template>
  <div v-if="weather.list && weather.list.length" :class="isDarkTheme ? 'dark-theme' : 'light-theme'">
    <v-app-bar class="header-card">
      <img src="../../assets/images/Headerlogo.png" alt="Header logo">
      <div>
        <h1 class="header-text">VUE WEATHER</h1>
      </div>
      <v-spacer></v-spacer>
          <v-btn @click="toggleTheme" style="box-shadow: none; background-color: #ffffff">
            <img src="../../assets/images/invert_colors_black_24dp 1.png" height="35" width="35"/>
          </v-btn>
        <div >
          <input

            style="height: 40px; background: #4793FF33 20%; text-align: center"
            v-model="city"
            @keypress.enter="fetchWeather"
            label="Enter city name"
          >
        </div>
    </v-app-bar>

    <InformationWeather :weather="weather"/>
  </div>
  <div v-else>
    <img style="margin-left: 50%; margin-top: 20%" src="../../assets/images/4102326_cloud_sun_sunny_weather_icon.png" height="100" width="100"/>
  </div>
</template>

<script>
import axios from 'axios'
import InformationWeather from "@/components/informationWeather/InformationWeather.vue";

export default {
  components: {
    InformationWeather
  },
  data: () => ({
    url_base: "https://api.openweathermap.org/data/2.5/",
    city: "London",
    weather: {},
    api_key: 'ad0c81f46fc9acfb1398ea379b2c0aec',
    isDarkTheme: false
  }),

  created() {
    this.fetchWeather()
  },

  methods: {
    fetchWeather() {
      axios.get(`${this.url_base}forecast?q=${this.city}&appid=${this.api_key}`)
        .then(response => {
          this.weather = response.data
          console.log(response.data)
        })
        .catch(error => {
          console.error('Error fetching weather data:', error);
        });
    },
    toggleTheme() {
      this.isDarkTheme = !this.isDarkTheme;
    }
  }
}
</script>

<style scoped>
.header-card {
  margin: 1% 15% 0 !important;
  box-shadow: none !important;
  background-color: white !important;
}

.header-text {
  color: #4793FF;
  font-family: Arial;
  margin-left: 10px;
}

.dark-theme {
  background-color: black;
  color: white;
}

.light-theme {
  background-color: white;
  color: black;
}

.dark-theme .header-card {
  background-color: #333 !important;
  color: white;
}

.light-theme .header-card {
  background-color: white !important;
  color: black;
}

.dark-theme .v-card {
  background-color: #444 !important;
  color: white;
}

.light-theme .v-card {
  background-color: white !important;
  color: black;
}

.dark-theme .v-btn {
  background-color: #555 !important;
  color: white;
}

.light-theme .v-btn {
  background-color: white !important;
  color: black;
}

.dark-theme .v-text-field input {
  color: white !important;
}

.light-theme .v-text-field input {
  color: black !important;
}
</style>
