<template>
  <div v-if="weather.list && weather.list.length" class="weather-container">
    <v-row>
      <v-col cols="12" md="4">
        <v-card style="height: 100%; margin-top: 10px">
          <v-row>
            <v-col cols="6">
              <v-card-title class="information-card current-temp" style="margin-bottom: 20px; padding-top: 30px">
                {{ weather.list[0].main.temp - 273.15 | round }}°
              </v-card-title>
              <v-card-text class="current-day">Сегодня</v-card-text>
            </v-col>
            <v-col cols="4" style="margin-left: 40px">
              <img src="../../assets/images/Group.png" class="current-weather-icon" alt=""/>
            </v-col>
          </v-row>
          <v-card-text class="current-weather-details">
            <div>
              <span style="font-size: 25px;  color: #939CB0; ">Время: {{ new Date().toLocaleTimeString() }}</span>
            </div>
            <div style="padding-top: 10px">
              <span style="font-size: 25px; color: #939CB0">Город: {{ weather.city.name }}</span>
            </div>
          </v-card-text>
        </v-card>
      </v-col>

      <v-col cols="12" md="8">
        <v-card class="detailed-weather-card">
          <div class="weather-detail-item">
            <v-btn class="weather-btn" style="border-radius: 50%">
              <img src="../../assets/images/temp.png" class="detail-icon"/>
            </v-btn>
            <span class="detail-label">Температура</span>
            <span class="detail-value">
              {{
                weather.list[0].main.temp - 273.15 | round
              }}° - ощущается как {{ weather.list[0].main.feels_like - 273.15 | round }}°
            </span>
          </div>
          <div class="weather-detail-item">
            <v-btn class="weather-btn">
              <img src="../../assets/images/pressure.png" class="detail-icon"/>
            </v-btn>
            <span class="detail-label">Давление</span>
            <span class="detail-value">
              {{ weather.list[0].main.pressure }} мм ртутного столба
            </span>
          </div>
          <div class="weather-detail-item">
            <v-btn class="weather-btn">
              <img src="../../assets/images/precipitation.png" class="detail-icon"/>
            </v-btn>
            <span class="detail-label">Осадки</span>
            <span class="detail-value">
              {{ weather.list[0].weather[0].description }}
            </span>
          </div>
          <div class="weather-detail-item">
            <v-btn class="weather-btn">
              <img src="../../assets/images/wind.png" class="detail-icon"/>
            </v-btn>
            <span class="detail-label">Ветер</span>
            <span class="detail-value">
              {{ weather.list[0].wind.speed }} м/с юго-запад
            </span>
          </div>
          <br>
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12">
        <v-card>
          <v-row>
            <v-col cols="6" md="2" v-for="(forecast, index) in filteredForecasts" :key="index">
              <v-card class="forecast-card">
                <h4 class="forecast-day">{{ formatDate(forecast.dt_txt).day }}</h4>
                <h4 class="information-card" style="font-size: 13px; color: #939CB0;">
                  {{ formatDate(forecast.dt_txt).date }}</h4>
                <img :src="days[index].image" class="forecast-icon"/>
                <h4 class="information-card" style="font-size: 20px; color: #939CB0;">
                  {{ formatTemperature(forecast.temp_max) }}°</h4>
                <span class="information-card" style="font-size: 16px; color: #939CB0;">
                  {{ formatTemperature(forecast.temp_min) }}°</span>
                <br>
                <div style="padding-top: 15px">
                <span class="information-card" style="font-size: 20px; color: #939CB0; ">
                  Облачно</span>
                </div>
              </v-card>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </div>
  <div v-else>
    <p class="loading-message">Загрузка данных...</p>
  </div>
</template>

<script>
export default {
  props: {
    weather: {
      type: Object,
      default: () => ({})
    }
  },
  computed: {
    days() {
      return [
        {name: 'Сегодня', image: require('../../assets/images/wheater1.png')},
        {name: 'Завтра', image: require('@/assets/images/wheater2.png')},
        {name: 'Пн', image: require('@/assets/images/wheater1.png')},
        {name: 'Вт', image: require('@/assets/images/wheater1.png')},
        {name: 'Ср', image: require('@/assets/images/wheater1.png')},
        {name: 'Чт', image: require('@/assets/images/wheater1.png')},
        {name: 'Пт', image: require('@/assets/images/wheater1.png')}
      ];
    },
    filteredForecasts() {
      const forecasts = [];
      const filteredDates = new Set();
      this.weather.list.forEach(forecast => {
        const date = forecast.dt_txt.split(' ')[0];
        if (!filteredDates.has(date)) {
          filteredDates.add(date);
          forecasts.push({
            temp_max: (forecast.main.temp_max - 273.15).toFixed(1),
            temp_min: (forecast.main.temp_min - 273.15).toFixed(1),
            dt_txt: forecast.dt_txt
          });
        }
      });
      return forecasts.slice(0, 7);
    }
  },
  methods: {
    formatTemperature(temp) {
      const roundedTemp = Math.round(temp);
      return roundedTemp > 0 ? `+${roundedTemp}` : `${roundedTemp}`;
    },
    formatDate(datetime) {
      const date = new Date(datetime);
      const daysOfWeek = ['Завтра', 'Пн', 'Вт', 'Ср', 'Чт', 'Чт', 'Сегодня'];
      const monthNames = [
        'Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь',
        'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'
      ];
      return {
        day: daysOfWeek[date.getDay()],
        date: `${date.getDate()} ${monthNames[date.getMonth()]}`
      };
    }
  },
  filters: {
    round(value) {
      return Math.round(value);
    }
  }
}
</script>

<style scoped>
.weather-container {
  margin: 4% 15% 0;
}

.current-temp {
  color: #4793FF;
  font-size: 96px;
}

.current-day {
  font-size: 35px;
  font-family: Arial;
}

.current-weather-icon {
  height: 130px;
  width: 130px;
}

.current-weather-details {
  font-family: Arial;
}

.detailed-weather-card {
  width: 100%;
  height: 100%;
}

.weather-detail-item {

  padding-top: 20px;
  margin-left: 20px;
}

.weather-btn {
  background-color: #ffffff!important;
  border-radius: 70px !important;
}

.detail-icon {
  height: 25px;
  width: 25px;
}

.detail-label {
  margin-left: 10px;
  font-family: Arial;
}

.detail-value {
  margin-left: 30px;
  font-family: Arial;
  z-index: 100;
  position: relative;
}

.forecast-card {
  margin-left: 10px;
  height: 250px !important;
  width: 150px;
  background: #4793FF33 20%;
}

.forecast-day {
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 5px;
  font-size: 18px;
  font-family: Arial;
}

.forecast-icon {
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 5px;
  height: 48px;
  width: 48px;
}

.loading-message {
  text-align: center;
  font-family: Arial;
  font-size: 24px;
}

.information-card {
  padding-top: 10px;
  padding-left: 10px;
  margin-bottom: 5px;
  font-family: Arial;
}

@media (max-width: 768px) {
  .weather-container {
    margin: 4% 10% 0;
  }

  .current-temp {
    font-size: 72px;
  }

  .current-day {
    font-size: 30px;
  }

  .current-weather-icon {
    height: 100px;
    width: 100px;
  }

  .weather-detail-item {
    margin-left: 10px;
  }

  .detail-label,
  .detail-value {
    font-size: 14px;
  }

  .forecast-card {
    width: 100px;
    height: 200px !important;
  }

  .forecast-day {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;
  }

  .forecast-icon {
    height: 36px;
    width: 36px;
  }
}
</style>
